.website_sale_product_image_sample_swatch {
    height: auto;
    padding: 0.5rem;
}

.website_sale_product_image_sample_thumb {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 4px;
}
